{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    首页
{% endblock title %}

{% block content %}
<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'article:article_list' %}">
                    最新
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'article:article_list' %}?order=total_views">
                    最热🔥
                </a>
            </li>
        </ol>
    </nav>

    <div class="row mt-2">
        {% for article in articles %}
        <div class="col-4 mb-4">
            <div class="card h-100">
                <!--标题-->
                <h4 class="card-header">{{article.title}}</h4>
                <!--摘要-->
                <div class="card-body">
                    <p class="card-text">{{article.body|slice:'100'}}...</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'article:article_detail' article.id %}" class="btn btn-primary">阅读本文</a>
                    <!--显示浏览量-->
                    <span>
                        <small class="col align-self-end" style="color: green">
                            浏览: {{article.total_views}}
                        </small>
                    </span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!--页码导航栏-->

    <div class="pagination row">
        <div class="m-auto">
            <span class="step-links">
                {% if articles.has_previous %}
                <a href="?page=1" class="btn btn-success">
                    &laquo; Previous
                </a>
                <span>...</span>
                <a href="?page={{articles.previous_page_number}}">
                    {{article.previous_page_number}}
                </a>
                {% endif %}

                <!--当前页面-->
                <span class="current btn btn-danger btn-lg">
                    {{articles.number}}
                </span>

                {% if articles.has_next %}
                    <a href="?page={{articles.next_page_number}}" class="btn btn-secondary">
                        {{articles.next_page_number}}
                    </a>
                    <span>....</span>
                    <a href="?page={{articles.paginator.num_pages}}" class="btn btn-success">
                        Next &raquo;
                    </a>
                {% endif %}
            </span>
        </div>
    </div>

</div>
{% endblock content %}
